/* CList.css */

.complaint-list {
    width: 100%;
    padding: 20px;
  }
  .back{
    margin-top: 20px;
    margin-bottom: 20px;
    width: fit-content;
    height: fit-content;
    font-size: 25px;
    margin-left: 20px;
    border-radius: 20px;
}
.back a{
    text-decoration: none;
    color: white;
}
.back:hover{
    background-color: #da2c2f;
    color: white;
}
  .input-container{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-bottom: 20px;
  }
  .h22{
    color: rgb(255, 0, 17);
  }
  
  .table-container {
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 3px solid #8775f7;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  @media screen and (max-width: 600px) {
    th, td {
      font-size: 12px;
      padding: 6px;
    }
  }
  