.footer{
    padding: 4rem 6rem;
    background-color: black;
    color: white;
    margin-top: 20px;
    position: relative;
    top: 15%;
}
.top{
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.top img{
    width: 80px;
    height: 80px;
    border-radius: 50%;

}
.bottom{
    padding-top: 4rem;
    text-align: start;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.bottom div{
    display: flex;
    flex-direction: column;
}
.bottom h4{
    font-size: 1.3rem;
    padding: 1rem 0 0.8rem;
}
.bottom a{
    text-decoration: none;
    color: white;
    padding-bottom: 0.6rem;
    font-size: 1.1rem;
}
.top i{
    color: white;
    font-size: 2rem;
    margin-left: 1rem;

}
@media screen and (max-width: 480px) {
    .footer{
        padding: 4rem 2rem;
    }
    .footer i{
        margin: 1rem 1rem 0 0;
    }
    .bottom div{
        width: 50%;
    }
}